################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SimFit360/App.config
*.vsidx
.vs/SimFit360/FileContentIndex/6ba12744-f57c-48d6-baa9-dc925a961f5e.vsidx
.vs/SimFit360/v17/.suo
.vs/SimFit360/FileContentIndex/6ba12744-f57c-48d6-baa9-dc925a961f5e.vsidx
